{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash, advanced_flash, session_flash %}


{% block head_style %}
    {% if app.debug %}
        <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
    {% else %}
        <link href="{{ asset('css/app.min.css') }}" type="text/css" rel="stylesheet"/>
    {% endif %}
	<link href="{{ asset('css/admin-lte/dist/css/AdminLTE.min.css') }}" type="text/css" rel="stylesheet"/>
{% endblock head_style %}


{% block title %}Repositorio {% endblock %}

{% block navbar %}
	{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, inverse: true, id: 'navbar-main', staticTop: true} %}
	    {% block brand %}
	        <a class="navbar-brand" href="{{ path('homepage') }}">Repositorio</a>
	    {% endblock %}

	    {% block menu %}
			<ul class="nav navbar-nav">	    
				<li class="dropdown">
				     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentos<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('document_new') }}">Subir</a></li>
							<li><a href="{{ path('document_resume') }}">Listar Fichas</a></li>
                            <li><a href="{{ path('document_consolidate') }}">Listar Consolidados</a></li>
						</ul>
				</li>
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				     <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user-o"></span> 	<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="user-header bg-light-blue">
                                <div style="text-align: center">
                                    <span ><i class="fa fa-user-circle fa-5x"></i></span>
                                </div>
								<p style="text-align: center">{{ app.user }}</p>
							</li>
                            <li class="user-footer">
                                {#
                                <div class="pull-left">
                                    <a href="{{ path('sonata_user_profile_edit') }}" class="btn btn-default btn-flat"><i class="fa fa-user"></i> Perfil</a>
                                </div>
                                #}
                                <div class="pull-right">
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                                </div>
                            </li>
						</ul>
				</li>				
			</ul>
	    {% endblock %}
	{% endembed %}
{% endblock navbar %}


{% block headline %}{% endblock headline %}

{% block flashes %}
    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock flashes %}

{% block content_row %}
    <div class="row">
        {% block content %}
        <div class="col-sm-12">
            {% block content_content %}
            
            {% endblock content_content %}
        </div>
        {% endblock content %}
    </div>
{% endblock content_row %}


{% block footer %}

{% endblock footer %}

{% block foot_script %}
	{{ parent() }}
		<script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('css/admin-lte/dist/js/app.min.js') }}"></script>

{% endblock foot_script %}