<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin-lte/dist/css/AdminLTE.min.css') }}">
    <title>Repositorio - Autenticación</title>
</head>
<body style="background-image:url({{ asset('images/background-login.jpg') }}); background-repeat: no-repeat; ">


    {% block fos_user_content %}
    {% endblock fos_user_content %}



</body>
</html>



