
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
	{% if object.typeDocument == '1' %}
		<span class="label label-danger center-block">Ficha</span>
	{% elseif object.typeDocument == '2' %}
		<span class="label label-success center-block">Consolidado</span>
	{% endif %}
{% endblock %}