{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <a class="btn btn-primary btn-sm" href="{{admin.generateObjectUrl('downloadDocument', object) }} ">
        <i class="fa fa-download"></i> Descargar
    </a>
{% endblock %}