{% extends base_template %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">Envio de Correo</h4>
            </div>
            <div class="box-body send-email">
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </div>
        </div>
                {% block formactions %}
                <div class="sonata-ba-form-actions well well-small form-actions">
                    {% block sonata_form_actions %}

                       <button type="submit" class="btn btn-success" name="btn_send"><i class="fa fa-envelope" aria-hidden="true"></i> Enviar</button>

                        <button type="reset" class="btn btn-success" name="btn_reset"><i class="fa fa-trash-o" aria-hidden="true"></i> Borrar formulario</button>

                    {% endblock %}
                </div>
            {% endblock formactions %}
                {{ form_end(form) }}


    </div>
</div>
{% endblock %}