{% extends 'base.html.twig' %}


{% block head_style %}
    {{ parent() }}
    <link href="{{ asset('bootsatrap-table/dist/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet"/>
{% endblock head_style %}



{% block headline %}Listado de Consolidados{% endblock headline %}

{% block content_content %}

<div class="row">

    <div class="box box-primary" style="margin-bottom: 100px;">
        <table class="table table-bordered table-striped" data-toggle="table"
                data-search="true"
                data-pagination="true"
        >
            <thead>
                <tr>
                    <th>N°</th>
                    <th data-field="Denominación" data-sortable="true">Denominación</th>
                    <th>Descargar</th>
                    <th>Cliente</th>
                    <th data-field="Creado por" data-sortable="true">Creado por</th>
                    <th data-field="Fecha de subido" data-sortable="true">Fecha de subido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr>
                    <td>{{ loop.index }}</a></td>
                    <td>{{ document.denomination }}</td>
                    <td> 
                        <a class="btn btn-primary btn-sm" href=" {{ path('document_download', { 'filename': document.document }) }}"><i class="fa fa-download"></i> Descargar</a>
                    </td>
                    <td>
                        {{ document.owner}}
                    </td>
                    <td>
                        {{ document.createdBy}}
                    </td>
                    <td>{% if document.uploadedAt %}{{ document.uploadedAt|date('d-m-Y') }}{% endif %}</td>
                    <td>
                        <a class="btn btn-default btn-sm" href="{{ path('document_delete', { 'id': document.id }) }}"> <i class="fa fa-trash"></i> Borrar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock content_content %}


{% block foot_script %}
    {{ parent() }}
        <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/bootstrap-table.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootsatrap-table/dist/locale/bootstrap-table-es-SP.min.js') }}"></script>

        
<script type="text/javascript">
    function queryParams() {
    return {
        type: 'owner',
        sort: 'updated',
        direction: 'desc',
        per_page: 100,
        page: 1
    };
}
</script>

{% endblock foot_script %}