{% extends 'base.html.twig' %}

{% block headline %}Subir Documentos{% endblock headline %}

{% block content_content %}

    {{ form_start(form) }}
        <div class="box box-primary bottom-container" >
            <div class="form-conteiner">
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="well well-small form-actions">
            <button type="submit" class="btn btn-success"><i class="fa fa-upload" aria-hidden="true"></i> Subir</button>
        </div>
    {{ form_end(form) }}

{% endblock content_content %}
