{% extends 'base.html.twig' %}

{% block content_content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Esta seguro de querer borara este documento?</h3>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Denominación</div>
                    <div class="col-md-9">{{ document.denomination }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Documento</div>
                    <div class="col-md-9">{{ document.document }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">Fecha de Subido</div>
                    <div class="col-md-9">{% if document.uploadedAt %}{{ document.uploadedAt|date('Y-m-d') }}{% endif %}</div>
                </div>
            </li>
        </ul>
    </div>

    <div class="well well-small form-actions">
        {{ form_start(delete_form) }}
            <button class="btn btn-danger" type="submit"> <i class="fa fa-trash"></i> Borrar</button>
        {{ form_end(delete_form) }}
    </div>
{% endblock content_content %}
