// Sobreescribir las variables antes del import
@import 'web/bundles/mopabootstrap/sass/mopabootstrapbundle-3.2';
@import 'web/fonts/font-awesome/scss/font-awesome';

.form-conteiner{
  padding: 25px;
}

.bottom-container{
  margin-bottom: 25px;
}

.iconuser{
  display: block;
}

.maneuser{
  display: block;
}

.login-center{
  width: 350px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}